@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Red Hat Display', sans-serif;

  --color-dark: #121212;
}

:root {
  --ui-primary: var(--color-dark);
  --ui-text: var(--color-dark);
  --ui-bg: #ffffff;
  --ui-border: #e5e6e9;
  --ui-bg-elevated: #e5e6e9;
}

.dark {
  --ui-primary: white;
  --ui-text: white;
  --ui-bg: var(--color-dark);
  --ui-border: #2a2a2a;
  --ui-bg-elevated: #2a2a2a;
}
