@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Red Hat Display', sans-serif;

  --color-dark: #121212;
}

:root {
  --ui-primary: var(--color-dark);
  --ui-text: var(--color-dark);
  --ui-bg: #ffffff;
  --ui-border: #e5e6e9;
  --ui-bg-elevated: #e5e6e9;
}

.dark {
  --ui-primary: white;
  --ui-text: white;
  --ui-bg: var(--color-dark);
  --ui-border: #2a2a2a;
  --ui-bg-elevated: #2a2a2a;
}

@layer utilities {
  .mask-dots {
    -webkit-mask-image: url('/images/masks/dots.svg');
    mask-image: url('/images/masks/dots.svg');
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    -webkit-mask-size: 2.8125rem 2.5rem;
    mask-size: 2.8125rem 2.5rem;
    -webkit-mask-position: left center;
    mask-position: left center;
  }
}
